<div class="wrapper">
    <div class="table">
        <h1>Unit Finishes</h1>

        <table>
            <tr>
                <td>Living & Dining</td>
                <td>
                    Polished Porcelain Tiles
                </td>
            </tr>

            <tr>
                <td>Kitchen</td>
                <td> Polished Porcelain Tiles</td>
            </tr>

            <tr>
                <td>Bedroom</td>
                <td>Wood Finish Ceramic Tiles</td>
            </tr>

            <tr>
                <td>Toilet & Bath</td>
                <td>Ceramic Tiles</td>
            </tr>

            <tr>
                <td>Balcony</td>
                <td>Non Slip Outdoor Ceramic Tiles </td>
            </tr>
        </table>
    </div>

    <div class="table">
        <h1>Unit Deliverables</h1>

        <table>
            <tr>
                <td>Living & Dining</td>
                <td>
                    Inverter Split Type Airconditioning Unit;
                    Entertainment Console with Floating
                    Cabinets
                </td>
            </tr>

            <tr>
                <td>Kitchen</td>
                <td>Metallic Backsplash; Quartz Countertop;
                    Modular Undercounter and Overhead
                    Cabinets; Induction Cooktop with Range
                    Hood;Water Line & Power Outlet for
                    Washer-Dryer; Single Bowl Sink with
                    Faucet</td>
            </tr>

            <tr>
                <td>Bedroom</td>
                <td>Modular Closet; Inverter Split
                    Airconditioning Unit; Entertainment
                    Console with Floating Cabinets </td>
            </tr>

            <tr>
                <td>Toilet & Bath</td>
                <td>Shower Set with Mixer; Water Closet;
                    Vanity Sink with Mixer; Soap Dish,
                    Towel Rod; Tissue Paper Holder; Bidet
                    Spray; Facial Mirror with LED Light; Full
                    Tempered Glass Shower Enclosure; Hot
                    and Cold Water for Multi-point Water
                    Heater </td>
            </tr>

            <tr>
                <td>Balcony</td>
                <td>Non Slip Outdoor Ceramic Tiles </td>
            </tr>
        </table>
    </div>

    <div class="table">
        <h1>Smart Units</h1>

        <table>
            <tr>
                <td>Main Door</td>
                <td>
                    Lock & Unlock via Voice
                    Command;Fingerprint; Passcode;
                    Remotely Lock & Unlock with
                    Smart Phone
                </td>
            </tr>

            <tr>
                <td>Smart Light Switches</td>
                <td> Turn On and Off Indoor and
                    Outdoor Lights via Voice
                    Command; Set Lights Schedule;
                    Remotely Turn On & Off
                </td>
            </tr>

            <tr>
                <td>Smart Remote</td>
                <td>Turn On & Off TV, AC, Climate
                    Control via Voice Command</td>
            </tr>
        </table>
    </div>

    <div class="table">
        <h1>Smart Units</h1>

        <ul>
            <li>Admin Office</li>
            <li>24-hours maintenance and security service</li>
            <li>Close Circuit Television for common areas</li>
            <li>Provision for Telephone, Internet & Cable TV </li>
            <li>Individual Mailboxes</li>
            <li>Automatic Fire alarm & fire protection system
                in all common areas and all residential units </li>
            <li>Standby power generator for selected common
                areas</li>
        </ul>
    </div>
</div>