<div class="wrapper">
    <img
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    src="assets\images\boni-place\0.webp"
    alt="boni place"
  /> 
  <div
    class="text-1"
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
  >
    <div class="boni-place">
      <img src="assets\images\boni-place\17.png" alt="Boni place">
    </div>
  </div>
</div>