<div class="wrapper">
    <div class="boni-place-text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0">
        <p>
            15&#64;Boni Place is a distinctive mid-rise condominium property at the
            heart of the residential and recreational enclave of Angeles City.
        </p>
    </div>

    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">General Information</h1>

        <table pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
            <tr>
                <td>Addresss</td>
                <td>
                    15 Bonifacio Street, Malabañas, Angeles City,<br />
                    Pampanga, Philippines 2009
                </td>
            </tr>

            <tr>
                <td>No. of Floors</td>
                <td>4 floors</td>
            </tr>

            <tr>
                <td>No. of Units</td>
                <td>24 Units</td>
            </tr>

            <tr>
                <td>Total Land Area</td>
                <td>605 sqm / 6,534 sqft</td>
            </tr>

            <tr>
                <td>Completion Date</td>
                <td>December 2022</td>
            </tr>
        </table>
    </div>

    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">Why Invest in <br />15&#64;Boni Place?</h1>

        <ul pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
            <li>STRATEGIC LOCATION</li>
            <li>GENEROUS LIVING SPACES</li>
            <li>VALUE FOR MONEY</li>
            <li>INVESTMENT VALUE OVER TIME</li>
            <li>EXECUTIVE LIFESTYLE</li>
        </ul>
    </div>

    <div class="container">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\21.webp"
                alt="15@Boni-place Vicinity map." width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Vicinity Map</h1>
        </div>
    </div>

    <div class="container double-image">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\22.webp" alt="15@Boni-Place Studio Unit"
                width="100%" [preview]="true" />

            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\24.webp" alt="15@Boni-Place Studio Unit"
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Studio Unit</h1>
        </div>
    </div>

    <div class="container double-image">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\25.webp" alt="15@Boni-Place one Bedroom"
                width="100%" [preview]="true" />

            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\27.webp" alt="15@Boni-Place one Bedroom"
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>1 Bedroom</h1>
        </div>
    </div>

    <div class="container double-image">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\28.webp" alt="15@Boni-Place two Bedroom"
                width="100%" [preview]="true" />

            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\30.webp" alt="15@Boni-Place two Bedroom"
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>2 Bedroom</h1>
        </div>
    </div>
</div>