<div class="wrapper">
    <div class="first-grid grid grid-cols-12 sm:gap-10 gap-y-5">
        <h1 class="col-span-12">Amenities</h1>

        <div class="col-span-12 sm:col-span-4">
            <h2>Wellness Garden</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\33.webp" alt="Wellness Garden" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <h2>Modern Gym</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\23.webp" alt="Modern Gym" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <h2>Swimming Pool</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\25.webp" alt="Swimming Pool" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <h2>Sky Garden</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\27.webp" alt="Sky Garden" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <h2>Kitchen and Snack Bar</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\29.webp"
                alt="Kitchen and Snack Bar" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <h2>Function Hall</h2>
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\31.webp" alt="Function Hall" />
        </div>
    </div>

    <div class="grids grid grid-cols-12 sm:gap-10 gap-y-5">
        <h1 class="col-span-12">The Lakeshore Medical Center</h1>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\35.webp" alt="Function Hall" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\37.webp" alt="Function Hall" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\39.webp" alt="Function Hall" />
        </div>

        <p class="col-span-12">
            The Lakeshore Medical Center a state-of-the-art level 2 located just beside The Lighthouse
            Residences, is a prestigious doctor-owned hospital founded by a team of 180 renowned medical
            professionals. This exceptional facility brings together top-tier healthcare services with
            the latest in medical technology, ensuring that residents have access to the best possible
            care. Living at The Lighthouse Residences means enjoying the convenience of luxurious condo
            living, with the added assurance of being just steps away from state-of-the-art healthcare
            facilities. Whether it's routine check-ups or specialized medical treatment, the proximity
            of The Lakeshore Medical Center offers unparalleled peace of mind. Experience a unique blend
            of comfort, luxury, and healthcare excellence, all within the vibrant community of Brgy.
            Panipuan, Mexico, Pampanga.
        </p>
    </div>

    <div class="grids grid grid-cols-12 sm:gap-10 gap-y-5">
        <h1 class="col-span-12">The Lakeshore</h1>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\43.webp" alt="Function Hall" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\45.webp" alt="Function Hall" />
        </div>

        <div class="col-span-12 sm:col-span-4">
            <img pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\47.webp" alt="Function Hall" />
        </div>

        <p class="col-span-12">
            The Lighthouse Residences offers a luxurious living experience strategically located near
            Lakeshore Pampanga, a tranquil 12-hectare man-made lake. Residents can immerse themselves
            in a serene environment ideal for various water sports and leisure activities, complemented
            by lush greenery and a picturesque 2-kilometer jogging trail. <br><br>
            Within this vibrant community, you'll find amenities such as a lakeside restaurant offering
            exquisite dining with scenic views, the peaceful St. John Paul II Church for reflection and
            worship, and a stunning lighthouse view deck for enjoying the surrounding landscape.
            Beautifully landscaped parks provide additional spaces for relaxation and recreation. <br><br>
            The Lighthouse Residences ensures convenience with access to event facilities at Lakeshore
            Pampanga, perfect for hosting gatherings and celebrations. Experience a lifestyle where
            every detail is designed to enhance comfort, luxury, and leisure, nestled in the heart of
            Brgy. Panipuan, Mexico, Pampanga.
        </p>
    </div>
</div>