<div class="wrapper">
    <div class="now-residences-text" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        NOW RESIDENCES is a modern and dynamic residential complex located in
        Angeles City, Pampanga and will be part of the Aeropolis Metro of the
        Pampanga Megalopolis. The Aeropolis Metro is envisioned to be the highest
        growth potential and investment area in Pampanga. With well-designed
        personal spaces, an integrated commercial strip and various leisure,
        recreational and wellness amenities integrated into the gated residential
        complex, NOW RESIDENCES is a community where you can LIVE LIFE FULLY AND
        EXCLUSIVELY.
    </div>
    <div class="container">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\5.jpg"
                alt="With a gardened rotunda and linear parks." width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>With a gardened rotunda and linear parks.</h1>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\6.jpg"
                alt="An integrated commercial strip at the ground floor." width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>
                An integrated commercial strip at the ground floor.
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\9.jpg" alt="An awe-inspiring and vibrant lobby."
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>
                An awe-inspiring and vibrant lobby.
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\10.jpg" alt="Outdoor amenities for active and passive activities.  "
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1> Outdoor amenities for active and passive activities.  </h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\11.jpg" alt="Take exciting journeys in our linear parks"
                width="100%" [preview]="true" />

            <div class="overlay" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\12.png" alt="Take exciting journeys in our linear parks">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1> Take exciting journeys in our linear parks</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\13.jpg" alt="Take exciting journeys in our linear parks"
                width="100%" [preview]="true" />

            <div class="overlay flip" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\14.png" alt="Have refreshing dips at the pool.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Have refreshing dips at the pool.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\15.jpg" alt="Enjoy the outdoors with family and friends."
                width="100%" [preview]="true" />

            <div class="overlay" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\16.png" alt="Enjoy the outdoors with family and friends.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Enjoy the outdoors with family and friends.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\17.jpg" alt="Even kids can playfully enjoy."
                width="100%" [preview]="true" />

            <div class="overlay" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\18.png" alt="Even kids can playfully enjoy.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Enjoy the outdoors with family and friends.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\19.jpg" alt="Do half or whole court games."
                width="100%" [preview]="true" />

            <div class="overlay flip" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\20.png" alt="Do half or whole court games.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Do half or whole court games.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\21.jpg" alt="Elevate your family’s health."
                width="100%" [preview]="true" />

            <div class="overlay flip" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\22.png" alt="Do half or whole court games.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Elevate your family’s health.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\23.jpg" alt="Enhance your personal health."
                width="100%" [preview]="true" />

            <div class="overlay" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\24.png" alt="Enhance your personal health.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Enhance your personal health.</h1>
        </div>
    </div>

    <div class="container with-overlay">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\25.jpg" alt="Engage in conversations with friends."
                width="100%" [preview]="true" />

            <div class="overlay" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
                <img src="\assets\images\now-residences\26.png" alt="Engage in conversations with friends.">
            </div>
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>Engage in conversations with friends.</h1>
        </div>
    </div>
</div>