<div class="wrapper">
  <app-section-1></app-section-1>
  <app-section-2></app-section-2>
  <app-section-3></app-section-3>
  <app-section-4 (selectedProduct)="setSelectedProduct($event)"></app-section-4>

  <p-dialog
    [modal]="true"
    [(visible)]="showOverlay"
    [style]="{ height: '70%', width: '75%' }"
  >
    <div class="container">
      <div class="left">
        <p-image
          #image
          [src]="selectedProduct.image"
          [alt]="selectedProduct.head"
          width="100%"
          [preview]="true"
          appendTo="body"
        />
      </div>
      <div class="right">
        <h1 [innerHTML]="selectedProduct.head"></h1>

        <p [innerHTML]="selectedProduct.body"></p>
      </div>
    </div>
  </p-dialog>

  <app-youtube></app-youtube>
  <app-email-field></app-email-field>
</div>
