<div class="wrapper">
  <img
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    src="assets\images\mega-world\1.jpg"
    alt="capital Town"
  />

  <div class="text-1">
    <div class="capitalTown">
      <h1
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
      >
        Capital Town
      </h1>

      <h2>Pampanga</h2>
    </div>

    <div class="address">
      <h1>A Future Built on Heritage.</h1>
      <h2>711 Capitol Blvd, San Fernando, 200 Pampanga</h2>
    </div>
  </div>
</div>
