<div class="wrapper">
  <div class="left">
    <div class="text">
      <h1 pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0">A hidden beach cove</h1>
      <h1 pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0">High rise resort-style living</h1>
      <h1 pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0">In the heart of <br>San Fernando, Pampanga</h1>
    </div>

    <div class="introducing">
      <h2 pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0">Introducing</h2>
    </div>

    <div class="logo"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0">
      <h2>The resort residences at</h2>
      <h1><span>Azure</span> North</h1>
      <h2>San Fernando, Pampanga</h2>
    </div>
  </div>

  <div class="right">
    <div
      class="image"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
    >
      <p-image
        src="\assets\images\azure\buildings.png"
        alt="azure north buildings name"
        width="100%"
        [preview]="true"
      />
    </div>
  </div>
</div>
