<div class="wrapper">
  <div class="container">
    <div class="image">
      <p-image
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
        src="\assets\images\mega-world\2.webp"
        alt="Montrose Parkview"
        width="100%"
        [preview]="true"
      />
    </div>

    <div
      class="text"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
    >
      <h1 class="montrose">Montrose <br><span>Parkview</span></h1>

      <p
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
      >
        <br />
        Inspired by the European way of life, Montrose Parkview is set to bring
        the beauty and old-world charms of Europe to Pampanga. From quaint al
        fresco shops below that offer delectable delights from the sun up till
        sun down, to wide and green open spaces that let you enjoy outdoor
        activities that enrich the mind and body, Montrose Parkview is a
        complete lifestyle experience that makes residents and visitors alike
        reminisce the charms and beauty of the European culture, everyday.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="image">
      <p-image
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
        src="\assets\images\mega-world\3.webp"
        alt="Chelsea Parkplace"
        width="100%"
        [preview]="true"
      />
    </div>

    <div
      class="text"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
    >
      <h1 class='chelsea'>Chelsea Parkplace <br><span>Capital town Pampanga</span></h1>

      <p
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
      >
        <br />
        Chelsea Parkplace is Capital Town’s the first Megaworld condominium
        north of Metro Manila. It is located at one of the most prime location
        inside Capital Town, Making it at the center of the whole developmen
      </p>
    </div>
  </div>

  <div class="container">
    <div class="image">
      <p-image
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
        src="\assets\images\mega-world\4.webp"
        alt="Bryant Parklane"
        width="100%"
        [preview]="true"
      />
    </div>

    <div
      class="text"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
    >
      <h1 class="bryant">Bryant ParkLane <br><span>Capital Town Pampanga</span></h1>

      <p
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
      >
        <br />
        For the Counter-Urbanites,Bryant Park lane is the Megaworld project that
        can serve as the jump-off point to better opportunities because it is
        located in an emerging region poised to become the next big thing..
      </p>
    </div>
  </div>

  <div class="container">
    <div class="image">
      <p-image
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
        src="\assets\images\mega-world\5.webp"
        alt="Shophouse district"
        width="100%"
        [preview]="true"
      />
    </div>

    <div
      class="text"
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
    >
      <h1 class="shop-house">Shophouse <span>District</span></h1>

      <p
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0"
      >
        <br />
        Bringing the best of Pampanga. Capital Town’s Shophouse District will be
        positioned as the main tourist attraction. Taking inspiration from the
        beautiful cities in Europe, it is envisioned to be urban yet intimate
        and picturesque. <br> <br> Combining the Neoclassical Architecture and Art Deco
        style guidelines, the architecture and design of the Shophouse District
        will be similar to Rodeo Drive in Los Angeles, California, USA.
      </p>
    </div>
  </div>
</div>
