<div class="wrapper">
    <div class="now-residences-text" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        THE LIGHTHOUSE RESIDENCES stands tall as a beacon of modern living, soaring
        high with its elegant 20-story tower that offers unparalleled panoramic
        views of Pampanga's vibrant and dynamic landscape. This architectural
        masterpiece is developed by The Lighthouse Residences Realty Corporation.
    </div>

    <div class="location-map">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0" src="\assets\images\lighthouse\6.jpg"
            alt="With a gardened rotunda and linear parks." width="100%" [preview]="true" />

        <table>
            <tr>
                <td>SM City Pampanga</td>
                <td>15 Min</td>
            </tr>

            <tr>
                <td>Marquee Mall</td>
                <td>15 Min</td>
            </tr>

            <tr>
                <td>Landers Superstore</td>
                <td>15 Min</td>
            </tr>

            <tr>
                <td>SNR Membership Shopping San Fernando</td>
                <td>16 Min</td>
            </tr>

            <tr>
                <td>SNR Membership Shopping Dau</td>
                <td>13 Min</td>
            </tr>

            <tr>
                <td>Clark International Airport</td>
                <td>16 Min</td>
            </tr>

            <tr>
                <td>Global Construct City</td>
                <td>25 Min</td>
            </tr>

            <tr>
                <td>Department of Foreign Affairs</td>
                <td>3 Min</td>
            </tr>

            <tr>
                <td>Angeles University Foundation</td>
                <td>15 Min</td>
            </tr>

            <tr>
                <td>Holy Angel University</td>
                <td>18 Min</td>
            </tr>

            <tr>
                <td>Our Lady Of Fatima</td>
                <td>24 Min</td>
            </tr>

            <tr>
                <td>University of Assumption</td>
                <td>14 Min</td>
            </tr>

            <tr>
                <td>The Lakeshore Medical Center</td>
                <td>20 Min</td>
            </tr>

            <tr>
                <td>Starbucks Petron Lakeshore NLEX</td>
                <td>2 Min</td>
            </tr>

            <tr>
                <td>The Lakeshore Pampanga</td>
                <td>4 Min</td>
            </tr>

            <tr>
                <td>Beverly Place Golf Club</td>
                <td>5 Min</td>
            </tr>
        </table>
    </div>

    <div class="grid grid-cols-12 gap-y-12">
        <h1 class="col-span-12 text-center mb-10 hospital">
            Hospital Perks
        </h1>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\delivery-room.jpg" alt="Operating Room">
            <p>Delivery Room</p>
        </div>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\OPERATING-ROOM.jpg" alt="Operating Room">
            <p>Operating Room</p>
        </div>
        
        <div class="col-span-4">
            <img src="\assets\images\lighthouse\emergency.webp" alt="Operating Room">
            <p>emergency Room</p>
        </div>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\upto.jpg" alt="Operating Room">
            <p>Free stay in Private room</p>
        </div>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\dis.jpg" alt="Operating Room">
            <p>Pharmacy Discount</p>
        </div>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\count.jpg" alt="Operating Room">
            <p>Professional Fee Discount</p>
        </div>

        <div class="col-span-4 col-start-3">
            <img src="\assets\images\lighthouse\OPERATING-ROOM.jpg" alt="Operating Room">
            <p>1 Portable Home Use Oxygen Concentrator</p>
        </div>

        <div class="col-span-4">
            <img src="\assets\images\lighthouse\OPERATING-ROOM.jpg" alt="Operating Room">
            <p>Easy Access to Medical Needs via Phone call</p>
        </div>
    </div>
</div>