<div class="wrapper">
    <div class="logo" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0">
        <h1>Sa<span>V</span>oy</h1>
        <h2>Hotel</h2>
        <h3>Capital Town</h3>
    </div>

    <div class="section-1">
        <div class="image">
            <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0" src="\assets\images\mega-world\2.webp" alt="Montrose Parkview"
                width="100%" [preview]="true" />
        </div>

        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>
                MEGAWORLD’S PREMIUM HOTEL EXPERIENCE RIGHT IN THE HEART OF PAMPANGA.
            </h1>

            <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
                leaveClass="animate-leave fade-out-0">
                <br />
                Inspired by the European way of life, Montrose Parkview is set to bring
                the beauty and old-world charms of Europe to Pampanga. From quaint al
                fresco shops below that offer delectable delights from the sun up till
                sun down, to wide and green open spaces that let you enjoy outdoor
                activities that enrich the mind and body, Montrose Parkview is a
                complete lifestyle experience that makes residents and visitors alike
                reminisce the charms and beauty of the European culture, everyday.
            </p>
        </div>
    </div>

    <div class="section-2">
        <div class="images-contaier">
            <div class="images grid grid-cols-12">
                <div class="col-span-12 p-1">
                    <p-image pAnimateOnScroll
                        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                        leaveClass="animate-leave fade-out-0" src="\assets\images\mega-world\6.webp"
                        alt="Montrose Parkview" width="100%" [preview]="true" />
                </div>

                <div class="col-span-6 p-1">
                    <p-image pAnimateOnScroll
                        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                        leaveClass="animate-leave fade-out-0" src="\assets\images\mega-world\7.webp"
                        alt="Montrose Parkview" width="100%" [preview]="true" />
                </div>

                <div class="col-span-6 p-1">
                    <p-image pAnimateOnScroll
                        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
                        leaveClass="animate-leave fade-out-0" src="\assets\images\mega-world\8.webp"
                        alt="Montrose Parkview" width="100%" [preview]="true" />
                </div>

            </div>
        </div>


        <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <h1>
                INVESTOR PRIVILEGES
            </h1>

            <br>
            <ul>
                <li>Complimentary Room Nights Privilege</li>
                <li>Enjoy discounts on various hotel services</li>
                <li>Privileges in other Megaworld hotel properties</li>
                <li>Year-round complimentary use of the Gym</li>
                <li>Ease of Airport transfers</li>
                <li>And many more!</li>
            </ul>
        </div>
    </div>
</div>