<div class="wrapper">
    <div class="one-bedroom-unit">
      <h1>One Bedroom Unit</h1>
      <p>+/-24.41 sqm</p>
  
      <img src="\assets\images\now-residences\35.png" alt="One bedroom Unit Floorplan">
    </div>
  
    <div class="container">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\36.jpg" alt="Bedroom" width="100%"
          [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Bedroom</h1>
      </div>
    </div>
  
    <div class="container double-image">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\37.jpg" alt="Chelsea Parkplace" width="100%"
          [preview]="true" />
  
          <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\38.jpg" alt="Chelsea Parkplace" width="100%"
          [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Living & Dining</h1>
      </div>
    </div>
  
    <div class="container">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\39.jpg" alt="Bryant Parklane" width="100%"
          [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Kitchen</h1>
      </div>
    </div>
  
    <div class="container">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\now-residences\40.jpg" alt="Shophouse district"
          width="100%" [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Toilet & Bath</h1>
      </div>
    </div>
  </div>