<div class="wrapper">
    <img
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    src="assets\images\lighthouse\41.webp"
    alt="lighthouse"
  /> 
  <div
    class="text-1"
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
  >
    <div class="lighthouse">
      <img src="assets\images\lighthouse\0.png" alt="The lighthouse residences logo">
    </div>
  </div>
</div>