<div class="wrapper">
    <h1>Dependent Perks</h1>

    <div class="image">
        <img src="\assets\images\lighthouse\old.jpg" alt="" />

        <div class="text">
            <p>
                If married, the Condominium Unit Owner's legitimate children under
                twenty-one (21) years of age. <br /><br />
                If unmarried, parents are covered with no age limit, even if they have
                pre-existing diseases.
                <br /><span>50% Of Discount & Privileges</span>
                of the Registered Hotel and Residential Condominium Owner.
            </p>
        </div>
    </div>

    <h1>Hotel Perks</h1>
    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            VIP Hotel Privileges
        </h1>

        <ul pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <li>Discount</li>
            <li>Access</li>
            <li>Perks</li>
            <li>Services</li>
        </ul>
    </div>

    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Up to 30 Nights <br />Free Hotel Room
        </h1>

        <ul pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <li>Must Follow Standard Booking</li>
            <li>Reservation Request</li>
            <li>Confirmation/ Room Allocation</li>
            <li>Documentation</li>
        </ul>
    </div>

    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Worry Free Passive Income
        </h1>

        <ul pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <li>Sit back</li>
            <li>Relax</li>
            <li>And Just watch Your money go to the Bank</li>
            <li>Plus enjoy all the Hotel VIP benefits</li>
        </ul>
    </div>

    <div class="table">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Fully Furnished
        </h1>

        <ul pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            <li>Interior Designed</li>
            <li>Free Monthly Condo Dues</li>
            <li>Free condo Maintenance</li>
            <li>Free annual Insurance</li>
        </ul>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Exclusive Hotel Perks for Registered Owners at The Lighthouse Residences
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Discover unparalleled luxury and convenience with the exclusive hotel
            perks at The Lighthouse Residences. As a registered owner, you are
            entitled to an array of exceptional benefits designed to enhance your
            investment and provide ultimate comfort and peace of mind.
        </p>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Up to 30 Nights of Free Hotel Room Stays
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Enjoy up to 30 nights of complimentary hotel room stays each year,
            allowing you to personally experience the high-end hospitality of your
            investment property or accommodate guests and clients with ease.
        </p>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Elegant Interior Design
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Each unit at The Lighthouse Residences features elegant interior design, blending modern aesthetics
            with functional spaces. Our design team ensures that your property reflects luxury and comfort, making
            it highly attractive to potential guests and clients.
        </p>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Free Monthly Condo Dues
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Maximize your investment returns with the benefit of free monthly condo dues. This perk reduces your
            ongoing expenses, allowing you to enjoy higher net income from your property.
        </p>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Complimentary Condo Maintenance
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            We offer free maintenance services to keep your property in top condition. Prompt attention to any
            maintenance needs ensures your unit remains pristine and well-maintained, enhancing its marketability
            and guest satisfaction.
        </p>
    </div>

    <div class="table text">
        <h1 pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Annual Free Insurance
        </h1>

        <p pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
            Protect your investment with annual free insurance coverage, included as part of our commitment to
            safeguarding your property. This comprehensive policy ensures that your asset is covered in the event
            of unforeseen circumstances, providing peace of mind and financial security.
        </p>
    </div>
</div>