<div class="wrapper grid grid-cols-12">

    <div class="logo col-span-12 sm:col-span-4 flex items-center justify-center">
        <h1>A. Marquez Realty</h1>
    </div>

    <div class="contact-us col-span-12 sm:col-span-4 grid-rows-5 grid">
        <h2 class="row-span-1 row-start-2">Contact Us:</h2>
        <p class="row-span-1 row-start-3 flex items-center">
            <span class="pi pi-phone me-3 flex align-middle"></span> +639066977484
        </p>
        <p class="row-span-1 row-start-4 flex items-center">
            <span class="pi pi-envelope me-3 flex align-middle"></span><a
                href="mailto:official.amarquezrealty&#64;gmail.com">official.amarquezrealty&#64;gmail.com</a>
        </p>
    </div>

    <div class="follow-us col-span-12 sm:col-span-4 grid-rows-5 grid">
        <h2 class="row-span-1 row-start-2 align-middle">Follow Us:</h2>
        <div class="icons gap-2 row-span-1 row-start-3 flex items-center">
            <a href="https://www.facebook.com/share/1FohXXfVYB/?mibextid=wwXIfr" class="pi pi-facebook"></a>
            <a href="https://www.instagram.com/yourtoprealtor.ph?igsh=bnRvcW45a2dkNndr" class="pi pi-instagram"></a>
            <a href="https://youtube.com/@yourtoprealtor?si=mFsAVdIrlF5aJsY2" class="pi pi-youtube"></a>
            <a href="https://www.tiktok.com/@yourtoprealtorph?_t=ZS-8uCnIlgBjj5&_r=1" class="pi pi-tiktok"></a>
        </div>
    </div>

    <img src="\assets\images\cover.webp" alt="yourTopRealtor">
</div>