<div class="wrapper">
  <div class="image">
    <p-image
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
      src="\assets\images\azure\lady.png"
      alt="lady in azure north resort"
      width="100%"
      [preview]="true"
    />
  </div>

  <div class="text" pAnimateOnScroll
  enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
  leaveClass="animate-leave fade-out-0">
    <h1>
      FROM THE SUCCESS OF AZURE URBAN RESORT RESIDENCES IN THE SOUTH, CENTURY
      PROPERTIES BRINGS THE AZURE CONCEPT UP NORTH.
    </h1>

    <p pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-b-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0">
    <br>
      To bring the aspiration of a beach-inspired lifestyle for the Filipino
      condo buyer <br><br> And to create the first large scale urban man-made beach
      concept for a residential development in the Philippines.
    </p>
  </div>
</div>
