<article class="flex-wrap flex justify-around gap-y-8">
  <div class="testimonial">
    <span class="material-symbols-outlined quote-icon-1"> format_quote </span>

    <div class="content">
      <p>
        I would like to commend Allan for the excellent customer service he has
        provided during the purchase of my new home. Allan is enthusiastic,
        reliable and a great communicator. He is very attentive throughout the
        whole process and explained everything in an easy to understand manner.
        With his friendly and amiable personality, he will definitely reach the
        heights of success while helping others in doing things that he loved
        and determined to do.
      </p>
    </div>

    <span class="material-symbols-outlined quote-icon-2"> format_quote </span>

    <div class="person">
      <div class="image">
        <img src="\assets\icons\selfie.webp" alt="default-profile" />
      </div>

      <div class="name">
        <p>by <strong>Enrique Signo</strong></p>
        <p>Team leader, Company Inc.</p>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <span class="material-symbols-outlined quote-icon-1"> format_quote </span>

    <div class="content">
      <p>
        Allan is very professional and easy to deal with. He makes sure that all
        our questions and concerns are being attended. We really made the right
        choice in purchasing our house- soon to be our HOME. Thanks Allan for
        making it hassle free for us.
      </p>
    </div>

    <span class="material-symbols-outlined quote-icon-2"> format_quote </span>

    <div class="person">
      <div class="image">
        <img src="\assets\icons\selfie.webp" alt="default-profile" />
      </div>

      <div class="name">
        <p>by <strong>Jeremy Arceo and Gypsy Arceo</strong></p>
        <p>Senior Accountant and Sales Support Team Lead</p>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <span class="material-symbols-outlined quote-icon-1"> format_quote </span>

    <div class="content">
      <p>
        I was able to pursue and make my first real estate investment when I met
        Allan. He made the process smooth and easy for us, that even though my
        husband is a bit reluctant at first, Allan was able to convince him.
        Thank you, Allan, and I hope I will soon be able to buy another unit
        thru your help.
      </p>
    </div>

    <span class="material-symbols-outlined quote-icon-2"> format_quote </span>

    <div class="person">
      <div class="image">
        <img src="\assets\icons\selfie.webp" alt="default-profile" />
      </div>

      <div class="name">
        <p>by <strong>Romina Cunanan,CPA</strong></p>
        <p>Certified Public Accountant, Company Inc.</p>
      </div>
    </div>
  </div>
</article>
