
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center root-div">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Turning Dreams Into </span>
        <span class="text-blue-600">REALTY</span>
    </div>
    <div class="text-700 mb-6">Goals in achieving your property</div>
    <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-home text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Consultancy</div>
            <span class="text-700 line-height-3">Personalized Real Estate Guidance</span>
        </div>
        <div class="col-span-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-video text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Property Presentation</div>
            <span class="text-700 line-height-3">We will present suitable property options via Zoom or Messenger for your review.</span>
        </div>
        <div class="col-span-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-map-marker text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Site visit</div>
            <span class="text-700 line-height-3">Want to see the property in person? We will arrange and assist you in the visiting site.</span>
        </div>
        <div class="col-span-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-calendar text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Reservation Process</div>
            <span class="text-700 line-height-3">Once you've chosen your property, we will guide you through the reservation process to secure your unit.</span>
        </div>
        <div class="col-span-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-file text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Documentation Assistance</div>
            <span class="text-700 line-height-3">We will handle all the necessary paperwork to ensure a smooth transaction and fast compliance.</span>
        </div>
        <div class="col-span-4 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-credit-card text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Financing Assistance</div>
            <span class="text-700 line-height-3">We will assist you in security bank financing or Pag-IBIG housing loans to make the purchase process easier.</span>
        </div>
        <div class="col-span-4 col-start-5 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-comments text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">After-sales support</div>
            <span class="text-700 line-height-3">Our commitment doesn't end after the sale! We provide chat support groups to assist with any concerns you may have post-purchase.</span>
        </div>
    </div>
</div>