<div class="wrapper">
    <div class="one-bedroom-unit">
      <h1>Amenities</h1>
    </div>
  
    <div class="container">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\39.jpg" alt="15@Boni place Swimming Pool" width="100%"
          [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Swimming Pool</h1>
      </div>
    </div>
  
    <div class="container">
      <div class="image">
        <p-image pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
          leaveClass="animate-leave fade-out-0" src="\assets\images\boni-place\42.jpg" alt="15@Boni place Exclusive City View Lounge" width="100%"
          [preview]="true" />
      </div>
  
      <div class="text" pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <h1>Exclusive City View Lounge</h1>
      </div>
    </div>
  </div>