@use "./styleVariables.scss" as styleVariables;
@import "primeicons/primeicons.css";


@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format(truetype);
    font-weight: styleVariables.$bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf') format(truetype);
    font-weight: styleVariables.$semi-bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf') format(truetype);
    font-weight: styleVariables.$medium;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format(truetype);
    font-weight: styleVariables.$regular;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Light.ttf') format(truetype);
    font-weight: styleVariables.$light;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format(truetype);
}

@font-face {
    font-family: 'Playfair';
    src: url('/assets/fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf') format(truetype);
}

@font-face {
    font-family: 'Pacifio';
    src: url('/assets/fonts/Pacifio/Pacifico-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Monotype';
    src: url('/assets/fonts/Engravers MT Regular/Engravers MT Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Middle age';
    src: url('/assets/fonts/Middle age/MiddAges.ttf') format(truetype);
}

@font-face {
    font-family: 'Cormorant';
    src: url('/assets/fonts/Cormorant/CormorantSC-Bold.ttf') format(truetype);
    font-weight: styleVariables.$bold;
}

@font-face {
    font-family: 'Barbaro';
    src: url('/assets/fonts/Barbaro/barbaro.ttf') format(truetype);
}

@font-face {
    font-family: 'Century';
    src: url('/assets/fonts/Century/centuryschoolbookbold.ttf') format(truetype);
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}