$sixty: #155DFC;
$nav: #0047ab;
$thirty: #3eaaa4;
$bg: #F8F9FA;
$text-color: #333333;
$headerText-color: #2B2B2B;
$old-gold: #D2B200;
$capital-town: #014B96;
$montrose: #B2816A;
$chelsea: #0E5D90;
$bryant: #584A41;
$savoy: #D41D37;


$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
