<div class="wrapper">
    <div class="one-bedroom-unit">
        <h1>Studio Unit Floor Plan</h1>
        <p>Total floor area 32 SQ. M.</p>

        <div class="image">
            <img src="\assets\images\lighthouse\studio.webp" alt="One bedroom Unit Floorplan">
            <img src="\assets\images\lighthouse\studio1.webp" alt="">
        </div>
    </div>

    <div class="one-bedroom-unit">
        <h1>One Bedroom Unit Floor Plan</h1>
        <p>Total floor area 64 SQ. M.</p>

        <div class="image">
            <img src="\assets\images\lighthouse\one-bed.webp" alt="One bedroom Unit Floorplan">
            <img src="\assets\images\lighthouse\one-bed1.webp" alt="">
        </div>
    </div>

    <div class="one-bedroom-unit">
        <h1>Two Bedroom Unit Floor Plan</h1>
        <p>Total floor area 96 SQ. M.</p>

        <div class="image">
            <img src="\assets\images\lighthouse\two-bed.webp" alt="One bedroom Unit Floorplan">
            <img src="\assets\images\lighthouse\two-bed1.webp" alt="">
        </div>
    </div>

    <div class="list">
        <ul>
            <li>Open-plan living area with kitchen with homogeneous tile flooring.</li>
            <li>Balcony with view of Mt.Arayat in the northeast, Mt. Pinatubo in the northwest, and The Lakeshore Lake
                in the southeast.</li>
            <li>Walls in plain cement plaster, painted semi-gloss finish.</li>
            <li>Flat floor design for easy access especially for those who are in wheelchairs.</li>
            <li>Wider door widths for easy access as well.</li>
            <li>Light switches are positioned at a certain height which can be easily accessed by PWDs (People with
                Disabilities).</li>
            <li>Toilet and Bath with glazed ceramic wall tiles at full height and homogeneous floor tiles, PWD friendly.
            </li>
        </ul>
    </div>
</div>