@use "../../../styleVariables.scss" as SV;

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    box-sizing: border-box;
    background-color: SV.$sixty;
    transition: background-color 0.5s;

    h1 {
        font-family: "Playfair";
        font-weight: SV.$bold;
        font-size: 28px;
        color: SV.$bg;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0px;

        li {
            font-family: "Inter";
            font-weight: SV.$semi-bold;
            font-size: 14px;
            color: SV.$bg;
            display: flex;
            flex-direction: column;
        }
    }
}

nav.transparent {
    background-color: #155efc46;
}

nav.fully-visible {
    background-color: #0047abe1 !important;
}

:host ::ng-deep p-button .p-button-label {
    text-transform: uppercase;
    font-family: "Inter";
    font-weight: SV.$semi-bold;
    font-size: 14px;
    color: SV.$bg;
}

:host ::ng-deep .p-button {
    background-color: transparent;
    border-color: transparent;
}

:host ::ng-deep .p-button:not(:disabled):hover {
    border: 1px solid SV.$bg;
}
:host ::ng-deep p-tieredmenu {
    position: relative;   
}
:host ::ng-deep p-tieredmenu div{
    top: 0 !important;
    left: 0 !important;
}
:host ::ng-deep .condo p-tieredmenu ul{
    left: -100% !important;
}