<nav class="transparent" #nav>
  <h1>A. Marquez Realty</h1>

  <ul>
    <li><p-button label="Home" (onClick)="navigateToHome()"/></li>
    <li>
      <p-button label="House and Lot" (click)="houseLot.toggle($event)" />
      <p-tieredmenu #houseLot [model]="underDevelopment" [popup]="true" />
    </li>
    <li class="condo">
      <p-button label="Condo" (click)="condo.toggle($event)" />
      <p-tieredmenu #condo [model]="condoItems" [popup]="true"/>
    </li>
    <li>
      <p-button label="Other properties" (click)="other.toggle($event)" />
      <p-tieredmenu #other [model]="underDevelopment" [popup]="true" />
    </li>
  </ul>
</nav>
